/* line 1, ../Compass/sass/style.scss */
#logo {
  float: left;
  position: absolute;
  left: 17%;
  top: 3%;
}

/* line 7, ../Compass/sass/style.scss */
#header-right {
  list-style: none;
  float: right;
  position: absolute;
  right: 10%;
  margin-top: 1%;
  display: inline;
}
/* line 14, ../Compass/sass/style.scss */
#header-right .cart, #header-right .promo {
  color: #ffd966;
}
/* line 16, ../Compass/sass/style.scss */
#header-right #header-links {
  display: flex;
  color: white;
  font-size: 12px;
}
/* line 20, ../Compass/sass/style.scss */
#header-right li {
  color: white;
  padding-right: 0.5em;
}
/* line 26, ../Compass/sass/style.scss */
#header-right .atl {
  font-style: italic;
  color: white;
  float: right;
  position: relative;
  right: 10%;
  top: 3em;
}
/* line 33, ../Compass/sass/style.scss */
#header-right .pTag {
  font-size: 30px;
  color: white;
  font-weight: bolder;
  position: absolute;
  right: 10%;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 10px;
}

/* line 42, ../Compass/sass/style.scss */
#header {
  width: 100%;
  height: 100px;
  background: url("https://www.sixflags.com/sites/all/themes/sixflags/images/backgrounds/sf-bg-park-header.jpg");
}

/* line 47, ../Compass/sass/style.scss */
.navbar {
  background-color: #fafbfb;
  color: black;
}

/* line 51, ../Compass/sass/style.scss */
.navbar a:hover {
  color: #ffd966;
}

/* line 54, ../Compass/sass/style.scss */
.navbar-inverse {
  border-color: white;
}

/* line 57, ../Compass/sass/style.scss */
.one {
  border-right: 1px solid #e0e0d1;
  border-left: 1px solid #e0e0d1;
  color: black;
  text-transform: uppercase;
}

/* line 63, ../Compass/sass/style.scss */
.two {
  border-right: 1px solid #e0e0d1;
  text-transform: uppercase;
}

/* line 67, ../Compass/sass/style.scss */
.passes {
  background-color: #82e847;
  border-right: 1px solid white;
}

/* line 71, ../Compass/sass/style.scss */
.joinUs {
  background-color: black;
  margin-top: -2%;
}
/* line 74, ../Compass/sass/style.scss */
.joinUs .joinText {
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 1% 0;
}

/* line 81, ../Compass/sass/style.scss */
.background {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
/* line 84, ../Compass/sass/style.scss */
.background img {
  max-width: 1277px;
}
